# Import data

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('Data/Active - Wholesale & retail.xlsx', sheetname='Results')

In [4]:
df.head()

,Company name,R/O Full Postcode,Registered number,Primary UK SIC (2007) code,Latest accounts date,Operating revenue (TO) th GBP Last avail. yr,Number of employees Last avail. yr,Company status,Ultimate owner,SME indicator,Credit score,Credit score indicator,Likelihood of failure %,No of unsecured creditors,Trade Creditors th GBP Last avail. yr,Trade Debtors th GBP Last avail. yr,Date of incorporation,Date of last transaction at Companies House
1.0,TESCO PLC,AL7 1GA,00445790,47110,2017-02-25,55917000.0,464520.0,Active,TESCO PLC,No,89,Secure,0.9,0,8875000,1475000.0,1947-11-27,2016-07-20
2.0,UNILEVER PLC,CH62 4ZD,00041424,46900,2016-12-31,45096000.0,169000.0,Active,UNILEVER PLC,No,95,Secure,0.9,0,7350000,2848000.0,1894-06-21,2017-05-31
3.0,SHELL TRADING INTERNATIONAL LIMITED,SE1 7NA,03634752,46711,2015-12-31,42339000.0,571.0,Active,ROYAL DUTCH SHELL PLC,No,60,Stable,2.2,0,2572000,1465000.0,1998-09-14,2017-04-13
4.0,TESCO STORES LIMITED,AL7 1GA,00519500,47110,2016-02-27,39843000.0,279140.0,Active,TESCO PLC,No,92,Secure,0.9,0,3351000,NaN,1953-05-09,2016-10-18
5.0,BP INTERNATIONAL LIMITED,TW16 7BP,00542515,46719,2015-12-31,29407000.0,NaN,Active,BP P.L.C.,No,86,Secure,0.9,0,2397000,837000.0,1954-12-29,2017-06-05

# Extract Twitter handle + Website

In [90]:
from pws import Bing
from pws import Google

import re

In [91]:
companies=df['Company name'][1000:1500]

In [92]:
# clean to remove 'limited etc'

companies=companies.apply(lambda x: x.replace('PLC', ''))
companies=companies.apply(lambda x: x.replace('P L C', ''))
companies=companies.apply(lambda x: x.replace('P.L.C.', ''))
companies=companies.apply(lambda x: x.replace('LTD', ''))
companies=companies.apply(lambda x: x.replace('LIMITED', ''))

In [93]:
website_links=[]
twitter_links=[]

In [94]:
for x in companies:
    try:   
        twitter_result=Bing.search(x + 'Twitter', num=2, start=0, sleep=True, country_code='uk')
        twitter_links.append(twitter_result['results'][0]['link'])
    except:
        twitter_links.append('error in retrieving twitter')
        continue

In [95]:
for x in companies:
    try:   
        website_result=Bing.search(x + 'Website', num=2, start=0, sleep=True, country_code='uk')
        website_links.append(website_result['results'][0]['link'])
    except:
        website_links.append('error in retrieving website')
        continue

In [97]:
DF=pd.DataFrame({'company': companies, 'Twitter': twitter_links, 'Website': website_links})

In [128]:
DF.to_csv('twitter + sites 1000-1500.csv')

# Cleaning Twitter Handles

In [135]:
df=pd.read_csv('twitter + sites 1000-1500.csv')
df=df.drop({'Unnamed: 0'}, 1)
df=df[['company', 'Website', 'Twitter']]

In [136]:
def selectTwitter(row):
    if type(row)==str:
        if row[8] != 't':
            return np.nan
        else:
            return row
    else:
        return np.nan
df['Twitter']=df['Twitter'].apply(selectTwitter)

In [145]:
def extracthandle(row):
    try:
        if type(row)==str:
            row= row[20:]

            row=re.search(r'\w+', row)
            return row.group()
    except:
        pass

df['Twitter']=df['Twitter'].apply(extracthandle)

In [147]:
df['Twitter'].head()

0            None
1            None
2            None
3    Enotria_wine
4        MossBros
Name: Twitter, dtype: object



-- 140 twitter handles extracted